<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoyling.mapper.MajorMapper">
  <resultMap id="BaseResultMap" type="com.yoyling.domain.Major">
    <id column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="major_teacher_number" jdbcType="VARCHAR" property="majorTeacherNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    major_id, grade_id, major_name, major_teacher_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from major
    where major_id = #{majorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from major
    where major_id = #{majorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoyling.domain.Major">
    insert into major (major_id, grade_id, major_name, 
      major_teacher_number)
    values (#{majorId,jdbcType=INTEGER}, #{gradeId,jdbcType=INTEGER}, #{majorName,jdbcType=VARCHAR}, 
      #{majorTeacherNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yoyling.domain.Major">
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        major_id,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
      <if test="majorName != null">
        major_name,
      </if>
      <if test="majorTeacherNumber != null">
        major_teacher_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="majorName != null">
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="majorTeacherNumber != null">
        #{majorTeacherNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoyling.domain.Major">
    update major
    <set>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="majorName != null">
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="majorTeacherNumber != null">
        major_teacher_number = #{majorTeacherNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where major_id = #{majorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoyling.domain.Major">
    update major
    set grade_id = #{gradeId,jdbcType=INTEGER},
      major_name = #{majorName,jdbcType=VARCHAR},
      major_teacher_number = #{majorTeacherNumber,jdbcType=VARCHAR}
    where major_id = #{majorId,jdbcType=INTEGER}
  </update>
</mapper>