<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoyling.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.yoyling.domain.Teacher">
    <id column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="teacher_number" jdbcType="VARCHAR" property="teacherNumber" />
    <result column="teacher_degree" jdbcType="VARCHAR" property="teacherDegree" />
    <result column="teacher_phone" jdbcType="VARCHAR" property="teacherPhone" />
    <result column="teacher_email" jdbcType="VARCHAR" property="teacherEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    teacher_id, teacher_number, teacher_degree, teacher_phone, teacher_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoyling.domain.Teacher">
    insert into teacher (teacher_id, teacher_number, teacher_degree, 
      teacher_phone, teacher_email)
    values (#{teacherId,jdbcType=INTEGER}, #{teacherNumber,jdbcType=VARCHAR}, #{teacherDegree,jdbcType=VARCHAR}, 
      #{teacherPhone,jdbcType=VARCHAR}, #{teacherEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yoyling.domain.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="teacherNumber != null">
        teacher_number,
      </if>
      <if test="teacherDegree != null">
        teacher_degree,
      </if>
      <if test="teacherPhone != null">
        teacher_phone,
      </if>
      <if test="teacherEmail != null">
        teacher_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherNumber != null">
        #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="teacherDegree != null">
        #{teacherDegree,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null">
        #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherEmail != null">
        #{teacherEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoyling.domain.Teacher">
    update teacher
    <set>
      <if test="teacherNumber != null">
        teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="teacherDegree != null">
        teacher_degree = #{teacherDegree,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null">
        teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherEmail != null">
        teacher_email = #{teacherEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoyling.domain.Teacher">
    update teacher
    set teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      teacher_degree = #{teacherDegree,jdbcType=VARCHAR},
      teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      teacher_email = #{teacherEmail,jdbcType=VARCHAR}
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
</mapper>