<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoyling.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.yoyling.domain.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_number" jdbcType="VARCHAR" property="userNumber" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_identity" jdbcType="CHAR" property="userIdentity" />
    <result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_number, user_name, user_password, user_identity, user_photo, user_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectByUserNumber" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_number = #{userNumber}
  </select>

  <select id="selectByUserNumberAndPassword" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_number = #{userNumber} and user_password = #{userPassword}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoyling.domain.User">
    insert into user (user_id, user_number, user_name, 
      user_password, user_identity, user_photo, 
      user_email)
    values (#{userId,jdbcType=INTEGER}, #{userNumber,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userIdentity,jdbcType=CHAR}, #{userPhoto,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yoyling.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userNumber != null">
        user_number,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userIdentity != null">
        user_identity,
      </if>
      <if test="userPhoto != null">
        user_photo,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userNumber != null">
        #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userIdentity != null">
        #{userIdentity,jdbcType=CHAR},
      </if>
      <if test="userPhoto != null">
        #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoyling.domain.User">
    update user
    <set>
      <if test="userNumber != null">
        user_number = #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userIdentity != null">
        user_identity = #{userIdentity,jdbcType=CHAR},
      </if>
      <if test="userPhoto != null">
        user_photo = #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoyling.domain.User">
    update user
    set user_number = #{userNumber,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_identity = #{userIdentity,jdbcType=CHAR},
      user_photo = #{userPhoto,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>